.swiper.fancyBox .swiper-slide,
.swiper.fancyBox .swiper-slide a{
    min-height: 300px;
}
.swiper.fancyBox .swiper-slide a {
    color: black;
    min-height: 300px;
    position: relative;
    z-index: 1;
}
.swiper.fancyBox .swiper-slide-active:hover a{
    color: #fff;
}
.swiper.fancyBox .swiper-slide-active{
    background-size: cover;
    transition: background-position 0.3s ease, opacity 0.3s ease;
}

.swiper.fancyBox .swiper-slide-active:hover {
    background-image: url(/img/Speed-on-wheels-2°-stripe-B-scal.webp);
    background-position: center; /* Questo ti aiuterà a rendere il cambio più fluido */
}

.swiper.fancyBox .swiper-slide-active::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.swiper.fancyBox .swiper-slide-active:hover::before {
    opacity: 0.2;
}

.swiper-pagination-bullet-active{
    background-color: red!important;
}
.swiper-pagination-bullet{
    background-color: red!important;
    opacity: 0.5;
}
