html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: url(/img/next-arrow.svg);
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
  content: url(/img/arrow-prev.svg);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}
.btn-tertiary{
  color: #fff!important;
  border-color: #fff!important;
}
@media (max-width: 575.98px) {
  .swiper-slide .card{
    width: 300px;
    height: 300px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px){
  .swiper-slide .card{
    width: 300px;
    height: 300px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px){
  .swiper-slide .card{
    width: 300px;
    height: 300px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px){
  .swiper-slide .card{
    width: 300px;
    height: 300px;
  }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .swiper-slide .card{
    width: 300px;
    height: 300px;
  }
}
@media  screen and (min-width:1400px) {
  .swiper-slide .card{
    width: 300px;
    height: 300px;
  }
}