html,
body {
  position: relative;

}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif!important;
}
h3{
  color: var(--Grey-dark, #222);
  font-family: Manrope;
  font-size: 39px!important;
  font-weight: 400!important;
  line-height: 125%; 
}
.btn{
  font-weight: 700!important;
}
h6{
  font-family: Manrope;
  font-size: 20px!important;
  font-weight: 600!;
  line-height: 134%;
}
.slider-container {
  position: relative;
  overflow: hidden;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: url(/img/next-arrow.svg);

}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
  content: url(/img/arrow-prev.svg);
}
.swiper-button-next, .swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  line-height: 40px;
  cursor: pointer;
}
.swiper-button-prev {
  left: 15px;
}
.swiper-button-next {
  right: 15px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}
.btn-primary{
  padding: 15px 30px!important;
  background-color: #ffb7ae!important;
  box-shadow: 2px 4px 6px 0px rgba(89, 41, 35, 0.15);
  border-color: #ffb7ae!important;
}
.btn-tertiary{
  color: #fff!important;
  border-color: #fff!important;
}
@keyframes slideIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.card.slide-in {
  animation: slideIn 1s ease forwards; /* Animazione */
}

.card.slide-in-delay {
  animation-delay: 0s; /* Resetta il ritardo */
}

@media (max-width: 575.98px) {
  .swiper-slide .card{
    width: 300px;
    height: 300px;
  }
  .swiper-button-prev,
  .swiper-button-next{
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 767.98px){
  .swiper-slide .card{
    width: 300px;
    height: 300px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px){
  .swiper-slide .card{
    width: 300px;
    height: 300px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px){
  .swiper-slide .card{
    width: 300px;
    height: 300px;
  }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .swiper-slide .card{
    width: 300px;
    height: 300px;
  }
}
@media  screen and (min-width:1400px) {
  .swiper-slide .card{
    width: 300px;
    height: 300px;
  }
}